/*
Przeglądarki internetowe nadają znacznikom HTML wartości początkowe,
które się różnią w zależności od producenta (np. Chrome, Firefox, Opera, Internet Explorer, Microsoft Edge).
Dlatego popularną praktyką jest tworzenie tzw. resetów,
czyli plików CSS zawierających reguły, które nadpisują te wartości,
aby były one jednolite niezalenie od przeglądarki.
Więcej na ten temat: https://cssreset.com/what-is-a-css-reset/
*/

* {
    box-sizing: border-box;
}

body {
   margin: 0;
   padding:0;
   background-color:#25072E;
   width:1400px;
   background-color:CCC8FF;
 color:#25072E;
 
}

h1, h2, h3 {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


.screen-reader-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}


.page-header {
   background-color:#25072E;

}


.page-navigation {
    background-color:#25072E;
}
 .page-navigation__item   {
    text-transform:uppercase;
    line-height:1.9;
 
}

 li a {
   letter-spacing:4px;
   text-decoration-line: none;
   font-size:15px;
   font-family: Open-Sans, sans-serif;
   font-weight:bold;
   color: #ef008e;
 }


.content-section {
    background-color:#25072E;
    display:flex;
    flex-direction:column;
   justify-content:flex-end;
    
    
}

.band-members {
    display:flex;
    flex-direction:row;
   
}

.band-members__image {
    width:100%;
}

.band-members__name {
    color:white;
    text-transform:uppercase;
    font-weight:bold;
    font-family: Open-Sans, sans-serif;
    letter-spacing:2px;
}

.band-members__desc {
   
   position:relative;
   right:125px;
   font-size:13px;
   line-height:1px;
    font-family: Open-sans,sans-serif;
    letter-spacing:1px;
}

.band-members__surname, .band-members__music {
    display:none;
}



h2.content-section__header {
    color:#ef008e;
    text-transform:uppercase;
    font-weight:bold;
    font-family: Open-Sans, sans-serif;
    letter-spacing:5px;
    font-size:30px;
    margin-top:20px;
    margin-bottom:20px;

}

.img-band {
    width:100%;
    border-top: 5px solid #ef008e;
}
.about-section__desc-header {
    text-transform:uppercase;
    letter-spacing:3px;
}

div.about-section__desc {
    position:absolute;
    left:60px;
    margin-bottom:80px;
    background-color:#25072E;
    display:flex;
    flex-direction:column;
    border-bottom: 5px solid #ef008e;
    width:380px;
    color:white;
    text-align:left;
    height:400px;
    padding: 60px 20px 60px 20px;
    margin: 5px;
    font-family: Open-sans, sans-serif;

}
 p.about-section__desc-header {
    word-spacing:2px;
    font-size:15px;
    font-weight:thin;
 }

 div.concerts {
     display:flex;
     flex-direction:row;
     
    
 } 
 article.concerts__item{
 display:flex;
 flex-wrap:wrap;
 justify-content:space-around;
 } 
  
  
article.concerts__item>img.concerts__image {
    flex-basis:50%;
} 
  
  img.concerts__image {
     width:100%;
     border-bottom: 5px solid #ef008e; 
 } 

 p.concerts__date {
     color:white;
     position:relative;
     right:95px;
     letter-spacing: 2px;
 }

 p.concerts__location {
    color:white;
    position:relative;
    right:35px;
    letter-spacing: 2px;
    line-height:2px;
 }

    button.button {
    position:relative;
    bottom:65px;
    left:30px;
    color:white;
    background-color: #ccc8FF;
    opacity:0.5;
    padding:10px 5px;
    font-family: Open-sans, sans-serif;
    text-transform:uppercase;
    cursor:pointer;

 }

 .iframe{
    position:relative;
    left:50px;
 }

 .gallery {
     display:grid;
     grid-template-columns:repeat(3,1fr);
     grid-template-rows: repeat(3, 15vw);
     grid-gap:1px;

 }
 .gallery__image {
     border-top:5px solid #ef008e;
      width:100%;
 }

 


.content-section {
    background-color:#25072E;
}

.content-section:nth-child(odd) {
    background-color: #25072E;
}

.gallery__image {
    width:50%;
    margin-top:50px;
}

address {
    position:relative;
    bottom:200px;
    right:150px;
    color:white;
    font-family:Open-Sans, sans-serif;
}



.form__field {
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    
}

.form__label {
    color:white;
    margin:5px;
    font-family:Open-Sans, sans-serif;
}

.form__input {
    border-radius:5px;
    padding: 5px;
    width:40%;
    background-color: #ccc8FF;
    opacity:0.5;
    margin-bottom:20px;
}

button.button {
 position:relative;
 right:200px;
 top:2px;
 cursor:pointer;
 border-radius:5px;
 
}


/*
Koniec sekcji pomocniczej
*/

/*
Ustawiając sekcje nagłówka i stopki w pozycji 'fixed' sprawiamy,
że niezależnie od pozycji paska przewijania elementy te będą znajdowały się
w tej samej pozycji względem okna przeglądarki.
Natomiast pozycję tę ustawiamy za pomocą parametrów 'top', 'bottom', 'right', 'left'.
*/
.page-header {
    position: fixed;
    top: 50px;
    left: 50px;
}

.page-footer {
    position: fixed;
    bottom: 50px;
    left: 50px;
}

.social-links__item {
    margin:5px;
}

/*
Lewy margines ustawiony na kontenerze z główną zawartością strony sprawia,
że nie będzie ona nachodzić na nagłówek i stopkę niezależnie od pozycji paska przewijania.
Na projekcie graficznym sekcja menu ma szerokość około 170px i jest oddalona od krawędzi ekranu
o 50px, więc można założyć, że 220px marginesu będzie wartością stosunkowo bezpieczną.
Z kolei spady (padding) nadane na kontener wyznaczają minimalną odległość, na jaką będzie oddalona
treść strony od otaczających ją granic kontenera (wartość "0 10%" jest
skrótem od padding-top: 0, padding-bottom: 0, padding-left: 10%, padding-right: 10%).
Właściwość "text-align: right" przykleja zawartość do prawej strony
(oddziałuje na elementy, które są elementami inline'owymi, np. tekst, znaczniki <a>, <span> czy elementy z nadanym stylem "display: inline-block").
*/
.page-content {
    margin-left: 220px;
    padding: 0 10%;
    text-align: right;
}

/*
Projekt graficzny zakłada, że każda sekcja strony będzie wypełniać całą wysokość okna przeglądarki
lub więcej, jeśli zawartość danej sekcji jest wyższa. Dlatego świetnym rozwiązaniem
będzie użycie jednostki "vh", która oznacza 1% wysokości okna przeglądarki z właściwością "min-height",
która wymusza wysokość elementu na zadaną wartość lub wyższą.
*/
.content-section {
    min-height: 100vh;
}